.move-area{/*normally use body*/
  width: 100vw;
  height: 100vh;
  padding: 10% 45%;
}
.container {
  width: 100%;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background: #C9CEFF;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #0FC8FF ;
  border-radius: 50%;
  content: " ";
}

.tut{
  width: 200px;
  background: black;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  margin: 50px;
  margin-top: -600px;
  border: none;
}
p{
  color: white;
  margin: 20px;
}
#cursor {
position: absolute;
height: 20px;
width: 20px;
border-radius: 50%/50%;
animation: color_change 8s infinite;
}
 @-webkit-keyframes color_change {
0% {background-color: red;}
25% {background-color: orange;}
50% {background-color: yellow;}
75% {background-color: blue;}
100% {background-color: red;}
}
